*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

:root{
    --gray-100: #f2f2f2;
    --gray-200: #d9d9d9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1a1a1a;
    --gray-700: #0d0d0d;
    --purple: #8284fa;
    --purple-dark: #5e60ce;
    --blue: #4ea8de;
    --blue-dark: #1e6f9f;
    --danger: #e25858;
}

header{
    background-color: var(--gray-700);
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

main{
    background-color: var(--gray-600);
    width: 100%;
    height: 80%;
}

img{
    width: 126px;
    height: 48px;
}

.img-mais{
    width: 16px;
    height: 16px;
}

button{
    background-color: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 5px;
    padding: 10px;
    width: 90px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin-right: 5px;
}

input{
    background-color: var(--gray-500);
    color: var(--gray-300);
    border-radius: 5px;
    padding: 10px;
    width: 638px;
    height: 54px;
    padding: auto;
}

::placeholder{
    color: var(--gray-200);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    line-height: 140%;
}